.iconSmall2 {
  width: calc(6px + 1.5vw);
  height: calc(6px + 1.5vw);
  margin-left: 1vw;
  margin-right: 1vw;
}

.contact {
  position: relative;
  top: 60.25vw;
  border: 1px solid black;
  font-size: calc(4px + 1.5vw);
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #8fccc9;
  border-width: 2vw;
  border-color: #00C3C6 #00494A #00C3C6 #00494A;
  padding-bottom: 2vw;
  border-top: 0px;
}

.hide {
  display: none;
}

.copy {
  position: absolute;
  left: 8px;
  bottom: 10px;
  font-size: calc(1.4px + 1.5vw);
  line-height: 4vw;
  font-family: 'Montserrat Alternates', sans-serif;
}

.portfolioLink {
  position: absolute;
  right: 8px;
  bottom: 10px;
  font-size: calc(1.4px + 1.5vw);
  line-height: 4vw;
  font-family: 'Montserrat Alternates', sans-serif;
}

.mathProblem {
  position: relative;
  top: 61.25vw;
  text-align: center;
}

.mathText {
  font-size: calc(4px + 1.5vw);
  font-family: 'Montserrat Alternates', sans-serif;
}

.mathImage {
  width: calc((4px + 1.5vw) * 13.7);
}

.guess {
  font-size: calc(4px + 1.5vw);
  width: calc((4px + 1.5vw) * 7);
  margin: 1vw;
}

.check {
  font-size: calc(4px + 1.5vw);
  width: calc((4px + 1.5vw) * 3);
  margin-left: 2vw;
}

.mathAnswer {
  position: relative;
  top: 61.25vw;
  text-align: center;
}

.answerText {
  font-size: calc(4px + 1.5vw);
  font-family: 'Montserrat Alternates', sans-serif;
}

.extra {
  margin-top: 3vw;
  width: 68%;
}

figcaption {
  font-size: calc(4px + 1.5vw);
  background-color: #222;
  color: #fff;
  padding: 3px;
  text-align: left;
  width: calc(68% - 3px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vw;
}
